input{
	padding: 8px;
    border-radius: 2px;
    border: 1px solid #888;
}
button{
    padding: 8px;
    background: #4881e8;
    border: 1px solid #4881e8;
    color: #fff;
    border-radius: 2px;
}
